<div class="bg-white rounded-lg overflow-hidden shadow-lg">
  <img
    src="/image/nasus.jpg"
    alt="Molly, a small Chihuahua, lying comfortably"
    class="w-full"
  />
  <div class="p-4">
    <h3 class="text-lg font-bold">Nasus</h3>
    <p class="text-sm text-gray-600">Bella<br />Puebla, México</p>
    <p class="text-sm">
      Chihuahua<br />Cachorro (0 a 1.5 años)<br />Hembra<br />Pequeño (5 Kg a
      11kg)<br />Independiente
    </p>
    <div class="flex items-center justify-between mt-3">
      <button
        id="myButton"
        class="text-brand-orange font-bold py-2 px-4 rounded inline-flex items-center"
      >
        <i class="fas fa-paw"></i>
        <span>ADOPTAR</span>
      </button>
      <div class="flex items-center">
        <i class="fas fa-heart text-brand-yellow"></i>
        <span class="ml-1">2</span>
      </div>
    </div>
  </div>
</div>
<script>
  const buttonAction = document.getElementById("myButton");
  buttonAction?.addEventListener("click", () => {
    alert("Hola, Adpotame");
  });
</script>
